# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [4]:
import numpy as np
import pandas as pd

In [41]:
il_dtypes = {"DATE": str, "IR3TIB01ILM156N": 'float64'}
usa_dtype = {"DATE": str, "FEDFUNDS": 'float64'}
exchange_dtype = {"תאריך": str, "שער": 'float64'}

In [43]:
israel_rate = pd.read_csv('./bank_of_Israel_interest_rate.csv', dtype=il_dtypes)
usa_rate = pd.read_csv("./FEDFUNDS.csv", dtype=usa_dtype)
usd_to_ils = pd.read_csv("./USD_ILS - נתונים היסטוריים (1).csv", dtype=exchange_dtype)

In [74]:
israel_rate_copy = pd.DataFrame({
    "Date":israel_rate["DATE"],
    "Year": israel_rate["DATE"].apply(lambda x: x.split("-")[0]),
    "Month": israel_rate["DATE"].apply(lambda x: x.split("-")[1]),
    "Current_Rate": israel_rate["IR3TIB01ILM156N"],
    "Change_From_Last_Month": israel_rate["IR3TIB01ILM156N"].diff()
})
israel_rate_copy["Date"] = pd.to_datetime(israel_rate_copy['Date'])

israel_rate_copy["Year"] = israel_rate_copy["Year"].astype("int32")
israel_rate_copy["Month"] = israel_rate_copy["Month"].astype("int32")


israel_rate_copy = israel_rate_copy[israel_rate_copy["Year"] >= 1993]
israel_rate_copy

          Date  Year  Month  Current_Rate  Change_From_Last_Month
12  1993-01-01  1993      1     11.547143                0.657578
13  1993-02-01  1993      2     12.325500                0.778357
14  1993-03-01  1993      3     11.845000               -0.480500
15  1993-04-01  1993      4     11.925333                0.080333
16  1993-05-01  1993      5     12.079524                0.154190
..         ...   ...    ...           ...                     ...
388 2024-05-01  2024      5      4.324905                0.024376
389 2024-06-01  2024      6      4.342760                0.017855
390 2024-07-01  2024      7      4.313295               -0.029465
391 2024-08-01  2024      8      4.287344               -0.025951
392 2024-09-01  2024      9      4.288357                0.001013

[381 rows x 5 columns]

In [79]:
usa_rate_copy = pd.DataFrame({
    "Date":usa_rate["DATE"],
    "Year": usa_rate["DATE"].apply(lambda x: x.split("-")[0]),
    "Month": usa_rate["DATE"].apply(lambda x: x.split("-")[1]),
    "Current_Rate": usa_rate["FEDFUNDS"],
    "Change_From_Last_Month": usa_rate["FEDFUNDS"].diff()
})

usa_rate_copy["Year"] = usa_rate_copy["Year"].astype("int32")
usa_rate_copy["Month"] = usa_rate_copy["Month"].astype("int32")


usa_rate_copy["Date"] = pd.to_datetime(usa_rate_copy['Date'])
# usa_rate_copy

In [104]:
exchange = pd.DataFrame({
    "Date": usd_to_ils["תאריך"],
    "Year": usd_to_ils["תאריך"].apply(lambda x: x.split(".")[2]),
    "Month": usd_to_ils["תאריך"].apply(lambda x: x.split(".")[1]),
    "Current_USD_NIS__Rate": usd_to_ils['שער'],
    "Change_From_Last_Month": usd_to_ils['שער'].diff()
})

exchange["Year"] = exchange["Year"].astype("int32")
exchange["Month"] = exchange["Month"].astype("int32")


exchange["Date"] = pd.to_datetime(exchange['Date'], dayfirst=True)
# exchange

## Part A: Single DataFrame Analysis 
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [57]:
# A - 1
# your code here

usa_rate_copy.head(5)

        Date  Year Month  Current_Rate  Change_From_Last_Month
0 1993-01-01  1993    01          3.02                     NaN
1 1993-02-01  1993    02          3.03                    0.01
2 1993-03-01  1993    03          3.07                    0.04
3 1993-04-01  1993    04          2.96                   -0.11
4 1993-05-01  1993    05          3.00                    0.04

In [58]:
# A - 2
# your code here
israel_rate_copy["Current_Rate"].mean()

5.291062368774408

In [64]:
# A - 3
# your code here
israel_rate_copy[israel_rate_copy["Change_From_Last_Month"] == israel_rate_copy["Change_From_Last_Month"].max()]

usa_rate_copy[usa_rate_copy["Change_From_Last_Month"] == usa_rate_copy["Change_From_Last_Month"].max()]

          Date  Year Month  Current_Rate  Change_From_Last_Month
358 2022-11-01  2022    11          3.78                     0.7

In [66]:
# A - 4
# your code here
usa_rate_copy[usa_rate_copy["Change_From_Last_Month"] < 0].shape[0]

123

In [68]:
# A - 5
# your code here
israel_rate_copy["Change_Percentage"] = israel_rate_copy["Current_Rate"].pct_change()
israel_rate_copy

,Date,Year,Month,Current_Rate,Change_From_Last_Month,Change_Percentage
0,1992-01-01,1992,01,14.682857,NaN,NaN
1,1992-02-01,1992,02,12.911500,-1.771357,-0.120641
2,1992-03-01,1992,03,12.257727,-0.653773,-0.050635
3,1992-04-01,1992,04,12.267143,0.009416,0.000768
4,1992-05-01,1992,05,12.628947,0.361805,0.029494
...,...,...,...,...,...,...
388,2024-05-01,2024,05,4.324905,0.024376,0.005668
389,2024-06-01,2024,06,4.342760,0.017855,0.004128
390,2024-07-01,2024,07,4.313295,-0.029465,-0.006785
391,2024-08-01,2024,08,4.287344,-0.025951,-0.006016
392,2024-09-01,2024,09,4.288357,0.001013,0.000236

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [96]:
# B - 1
# your code here
merged_df = pd.merge(israel_rate_copy, usa_rate_copy, on=['Year', 'Month', "Date"], suffixes=('_israel', '_usa'))
merged_df.head(1)

,Date,Year,Month,Current_Rate_israel,Change_From_Last_Month_israel,Current_Rate_usa,Change_From_Last_Month_usa
0,1993-01-01,1993,1,11.547143,0.657578,3.02,NaN

In [92]:
# B - 2
# your code here

merged_df["Rate_Difference"] = merged_df["Current_Rate_israel"] - merged_df["Current_Rate_usa"]

In [100]:
# B - 3

merged_df['Rate_Percent_Difference'] = ((merged_df['Current_Rate_israel'] - merged_df['Current_Rate_usa']) / merged_df['Current_Rate_usa']) * 100
merged_df["Rate_Comparison"] = merged_df['Rate_Percent_Difference'].apply(
    lambda x: "IH" if x > 1.0 else "UH" if x < 1.0 else "N"
)
merged_df[merged_df["Date"] == "2012-05-01"]

,Date,Year,Month,Current_Rate_israel,Change_From_Last_Month_israel,Current_Rate_usa,Change_From_Last_Month_usa,Rate_Percent_Difference,Rate_Comparison
232,2012-05-01,2012,5,2.491101,-0.050203,0.16,0.02,1456.938313,IH

In [105]:
# B - 4
# your code here


exchange_n_rate = pd.merge(merged_df, exchange ,on=['Year', 'Month', "Date"])
exchange_n_rate.head(1)

,Date,Year,Month,Current_Rate_israel,Change_From_Last_Month_israel,Current_Rate_usa,Change_From_Last_Month_usa,Rate_Percent_Difference,Rate_Comparison,Current_USD_NIS__Rate,Change_From_Last_Month
0,2012-05-01,2012,5,2.491101,-0.050203,0.16,0.02,1456.938313,IH,3.7774,0.0033

In [108]:
# B - 5
# your code here
exchange_n_rate["Rate_Percent_Difference"].corr(exchange_n_rate["Current_USD_NIS__Rate"])

0.2394588030233544

In [ ]:
ניתן לראות קשר קטן בין שיעור הפרש הריביות בין ישראל לאמריקה לבין שער הדולר, ככל שההפרש גודל השקל נחלש

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [110]:
# c - 1
usa_impact = exchange_n_rate["Current_Rate_usa"].corr(exchange_n_rate["Current_USD_NIS__Rate"])
usa_impact

-0.0704804374512353

In [111]:
# c - 2
israel_impact = exchange_n_rate["Current_Rate_israel"].corr(exchange_n_rate["Current_USD_NIS__Rate"])

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [ ]:
# Your code here